.home__section {
    display: flex;
	margin-top: 8%;
	margin-right: 5%;
	margin-left: 5%;

	/* animation */
	animation: animation 300ms ease-in 1000ms;
	animation-fill-mode: forwards;
	transform: translateY(-20px);
	opacity: 0;
}
@keyframes animation {
	0% {
		transform: translateY(-20px);
		opacity: 0;
	}
	100% {
		transform: translateY(0px);
		opacity: 1;
	}
}