.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 100;
	width: 100%;
}
.header__icon {
	object-fit: contain;
	height: 100px;
	margin-left: 20px;
}
.header__center {
	display: flex;
	align-items: center;
	flex: 1;
    max-width: fit-content;
    border: 1px lightgray solid;
    border-radius: 999px;
	padding: 10px;
	height: 30px;
}
.header__center > input{
    border: none;
    outline: none;
    /* width: 250px; */
    width: 25vw;
}
.header__right {
	display: flex;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    margin-right: 80px;
}
